footer{
    background-color: #0D2D61;
    color:white;
}

.hero {
    background-size: auto;
    height: 50%;
    min-height: 300px;
    color: black;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
}

#home {
    color:white;
}

h1 {
    border: #0D2D61 solid 5px;
    border-radius: 50px;
    text-align: center;
}

h2 {
    border: #0D2D61 solid 5px;
    border-radius: 50px;
    text-align: center;
}

#nike {
    height: 70%;
    width: 70%;
    padding: 10px;
    border: #0D2D61 solid 5px;
    border-radius: 40px;
}

.camiseta-titular {
    border: #0D2D61 solid 5px;
    border-radius: 40px;
    margin: 10px;
    text-align: center;
}

.camiseta-titular img {
    height: 28%;
    width: 28%;
    border-radius: 40px;
}

.camiseta-suplente {
    border: #0D2D61 solid 5px;
    border-radius: 40px;
    margin: 10px;
    text-align: center;
}

.camiseta-suplente img {
    height: 28%;
    width: 28%;
    border-radius: 40px;
}

.buzo-entrenamiento {
    border: #0D2D61 solid 5px;
    border-radius: 40px;
    margin: 10px;
    text-align: center;
}

.buzo-entrenamiento img {
    height: 28%;
    width: 28%;
    border-radius: 40px;
}

.pantalon-entrenamiento {
    border: #0D2D61 solid 5px;
    border-radius: 40px;
    margin: 10px;
    text-align: center;
}

.pantalon-entrenamiento img {
    height: 28%;
    width: 28%;
    border-radius: 40px;
}

.campera-rompeviento {
    border: #0D2D61 solid 5px;
    border-radius: 40px;
    margin: 10px;
    text-align: center;
}

.campera-rompeviento img {
    height: 28%;
    width: 28%;
    border-radius: 40px;
}



